@use "/src/assets/Styles/" as *;

// hero for all pages


// about scss
.about-main {
  margin: 10rem auto;
  display: flex;
  gap: 5rem;
  max-width: 90rem;
  align-items: center;

  @media (max-width: 960px) {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    max-width: 49rem;
  }

  @media (max-width: 520px) {
    max-width: 100%;
  }

  &__img {
    width: 43rem;
    height: 43rem;

    @media (max-width: 960px) {
      margin: 0 auto;
    }

    @media (max-width: 520px) {
      width: 100%;
      height: auto;
    }
  }

  &__text {
    color: $text-black;
    display: flex;
    flex-direction: column;

    h3 {
      font-size: $h4-size;
      font-family: $text-font;
      font-weight: 500;
      margin-bottom: 1rem;
    }

    h2 {
      font-size: $h2-size;
      line-height: 1.2;
    }

    p {
      font-size: $p-size;
      color: $text-gray;
      font-family: $text-font;
      line-height: 1.5;
      margin-top: 2rem;
      margin-bottom: 4rem;
    }

    &__icons {
      display: grid;

      grid-template-columns: 1fr 1fr 1fr;
      gap: 4rem;

      @media (max-width: 520px) {
        grid-template-columns: 1fr;
        margin: 0 auto;
        gap: 0;

        p {
          margin-top: 0;
        }
      }

      &__box {
        display: flex;
        flex-direction: column;

        @media (max-width: 520px) {
          align-items: center;
        }

        .last-fk {
          width: 5rem;
        }

        img {
          width: 7rem;
        }

        span {
          display: flex;
          align-items: center;
          gap: 1rem;

          @media (max-width: 520px) {
            text-align: center;
            flex-direction: column;
          }

          h4 {
            font-size: 4.6rem;
          }
        }
      }
    }
  }
}

