@use "/src/assets/Styles/" as *;

.book-section {
  position: relative;
  background: linear-gradient(to bottom, $bg-gray 20%, $bg-white 80%);
}

.book-content {
  margin: 0 auto;
  margin-bottom: 10rem;

  &__box {
    background-color: $bg-white;
    width: 100%;
    padding: 4rem 4.5rem 5rem 5.5rem;
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 10%);
    height: auto;
    position: relative;
    z-index: 4;
    color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    color: $text-black;

    @media (max-width: 400px) {
      padding: 4rem 2.5rem 5rem 2.5rem;
    }

    h2 {
      font-size: $h3-size;
      font-weight: 700;
      margin-bottom: 2.7rem;
    }

    .box-form {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto auto auto;
      gap: 2rem;

      b {
        color: $text-orange;
      }

      @media (max-width: 1000px) {
        grid-template-columns: 1fr 1fr;
      }

      @media (max-width: 630px) {
        grid-template-columns: 1fr;
      }

      &__car-type {
        display: flex;
        flex-direction: column;

        label {
          font-size: $p-size;
          font-weight: 600;
          margin-bottom: 1.2rem;

          i {
            color: $text-orange;
          }
        }

        select,
        input {
          font-size: 1.5rem;
          color: #ababab;
          font-family: $text-font;
          border: 1px solid #ccd7e6;
          border-radius: 3px;
          font-weight: 400;
          padding: 1.2rem 1.3rem;
          outline: none;
        }
      }

      &__car-time {
        display: flex;
        flex-direction: column;
        position: relative;

        input {
          outline: none;
          color: #878585;
          padding-right: 3rem;
          border: 1px solid #ccd7e6;
        }

        label {
          font-size: 1.6rem;
          font-weight: 500;
          margin-bottom: 1.2rem;

          i {
            color: $text-orange;
          }
        }

        ::-webkit-datetime-edit {
          padding: 1.3rem 1.3rem;
        }

        ::-webkit-calendar-picker-indicator {
          cursor: pointer;
          font-size: 1.6rem;
        }
      }
    }

    button {
      padding: 1.3rem 1.3rem;
      height: fit-content;
      align-self: self-end;
      border: none;
      font-family: $text-font;
      font-size: 1.8rem;
      font-weight: 500;
      color: white;
      background-color: $text-orange;
      box-shadow: 0 10px 15px rgba(1, 192, 255, 0.35);
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        box-shadow: 0 10px 15px rgba(0, 158, 250, 0.55);
      }
    }
  }
}
