/* AdminLayout.css */

.layout {
    display: flex;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
  }
  
  .main-content {
    background: #ffff;
    flex: 1;
    padding:  10px; /* veya istediğiniz bir içerik içi boşluk değeri */
  }
  

