html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  body {
    background-color: #ffffff;
    font-family: "Poppins", sans-serif;
    position: relative;
    
  }


.navbar {
    max-width: 133rem;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.7rem 2rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #030140;
    z-index: 99999;
    margin: 0 auto;
  }
  .navbar__img {
    width: 14.5rem;
  }
  .navbar__img img {
    width: 100%;
    height: 100%;
  }
  .navbar__links {
    display: flex;
    list-style: none;
    gap: 2.1rem;
  }
  .navbar__links a {
    font-size: 1.9rem;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    color:#acffb8;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s;
  }
  .navbar__links a:hover {
    color: #00e122;
  }
  @media (max-width: 1000px) {
    .navbar__links {
      display: none;
    }
  }
  .navbar__buttons {
    display: flex;
    gap: 2.5rem;
    font-size: 1.6rem;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    align-items: center;
  }
  @media (max-width: 1000px) {
    .navbar__buttons {
      display: none;
    }
  }
  .navbar__buttons__sign-in {
    background-color: #3eda55;
    color: white;
    padding: 1.5rem 3rem;
    border-radius: 3px;
    box-shadow: 0 10px 15px 0 rgba(20, 20, 20, 0.993);
    transition: all 0.3s;
  }
  .navbar__buttons__sign-in:hover {
    box-shadow: 0 7px 10px 0 rgb(118, 174, 102);
    background-color: #7df18e;
  }
  .navbar__buttons__register {
    background-color: #3eda55;
    color: white;
    padding: 1.5rem 3rem;
    border-radius: 3px;
    box-shadow: 0 10px 15px 0 rgba(20, 20, 20, 0.993);
    transition: all 0.3s;
  }
  .navbar__buttons__register:hover {
    box-shadow: 0 7px 10px 0 rgb(118, 174, 102);
    background-color: #7df18e;
  }
  .navbar__buttons a {
    text-decoration: none;
  }
  
  .mobile-hamb {
    font-size: 2.8rem;
    display: none;
    cursor: pointer;
    transition: all 0.3s;
  }
  .mobile-hamb:hover {
    color: #ff4d30;
  }
  @media (max-width: 1000px) {
    .mobile-hamb {
      display: flex;
    }
  }
  
  .mobile-navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #ffffff;
    z-index: 999999;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
  }
  .mobile-navbar__close {
    font-size: 3rem;
    position: absolute;
    top: 3.5rem;
    right: 3.5rem;
    cursor: pointer;
    transition: all 0.3s;
  }
  .mobile-navbar__close:hover {
    color: #ff4d30;
  }
  .mobile-navbar__links {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 3rem;
    gap: 3rem;
    text-align: center;
  }
  .mobile-navbar__links li a {
    text-decoration: none;
    color: #010103;
    font-weight: 500;
    transition: all 0.3s;
  }
  .mobile-navbar__links li a:hover {
    color: #ff4d30;
  }
  
  .open-nav {
    left: 0;
  }
  
 