.nav{
  font-size: 18px;
}

.custom-nav-link {
  display: inline-flex;
  align-items: center;
  border-radius: 20px; /* Yuvarlak köşeler için */
  padding: 10px 15px;
  transition: background-color 0.3s;

}

.custom-nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.custom-nav-link img {
  margin-right: 8px; /* İsteğe bağlı: Metin ile resim arasında boşluk bırakır */
}
